<div class="container">
  <h2 class="heading">Animations</h2>
  <div>
    <button (click)="animate()">Animate Div</button>
    <div style="width: 100px;height: 100px" [@sample]="state"></div>
  </div>
  <div class="dropdownDiv">
    <div class="border button" (click)="dropdown()">Dropdown</div>
    <div class="dropdown">
      <ul  [@dropdown]="dropdownState">
        <li class="border">1</li>
        <li class="border">2</li>
        <li class="border">3</li>
      </ul>
    </div>
  </div>
  <div class="border width75 m4 dark overFlow" style="height: 450px">
    <ul class="glow m4">
      <li><a routerLink="first">1<sup>st</sup></a></li>
      <li><a routerLink="second">2<sup>nd</sup></a></li>
      <li><a routerLink="third">3<sup>rd</sup></a></li>
    </ul>
    <main [@routeAnimation]="prepareRoute(outlet)">
      <router-outlet #outlet='outlet'></router-outlet>
    </main>
  </div>
  <div class="m4 border">
    <div class="width75 center p4">
      <div [@listAnim]>
        <div [@itemAnim] *ngFor="let i of list; let j = index" class="number">{{i.value}}<span (click)="delete(j)" class="delete">x</span></div>
      </div>
      <div>
        <input type="text"  class="input" [(ngModel)]="value"><button (click)="addToList()" class="button">+</button>
      </div>
    </div>
  </div>
</div>
